#newstitles-newsbox { 
  border:1px solid Gray;
  height:200px;
  position:relative;
}
#newstitles-newnews {
	 border:1px LavenderBlush inset;
	 padding:3px;
	 color:DarkGreen;
	 background-color:Lavender;
}
#newstitles-wrapper {
  margin-right:14px;
  position:absolute;
  top:1px;
}
#newstitles-verticalbar { 
	position:absolute;
	top:1px;
	height:196px;
  background:LightGray;
}
a.newstitles-link {
  font-weight:bold;
  color:DarkBlue; 
}
a.newstitles-link:hover {
  font-weight:bold;
  color:Red; 
}