.newsbox  {
	clear:both;
}
.newsbar {
	display:table-column;
	height:200px;
	vertical-align:middle;
	width:8%;
}
.newsview {
	display:table-column;
	width:85%;
	height:200px;
	padding:0px 3px;
	border:2px SlateGray ridge;
	background-color:LightSteelBlue; "
}
.newsbar-tbl {
	height:180px;
	border-margin:0px;
	border-collapse:separate;
	border-spacing:0;
	*border-collapse:expression("separate", cellSpacing = "0px");
	cursor:pointer;
	background-color:LightBlue;
	color:DarkSlateGray;
	border:groove 2px LightCyan;
}
.newsbar-tbl td {
	vertical-align:middle;
	text-align:center;
}
.newstitles {
}
.newstitles a {
	color: DarkBlue;
}
.newstitles a :hover {
	color: Red;	
}
#newstitles-newnews {
	 border:1px LavenderBlush inset;
	 padding:3px;
	 color:DarkGreen;
	 background-color:Lavender;"
}